* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



.content-header,
.content-vfooter {
    background-color: gray;
    height: 12vh;
    font-size: 2rem;
    padding-left: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 70vh;
    margin: 3vh 0;
    font-size: 2rem;
}

.content-a {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: greenyellow;
    padding-left: 10px;
}

.content-b {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: green;
    padding-left: 10px;
}

.content-c {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: yellow;
    padding-left: 10px;
}

@media screen AND (max-width:768px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40vh 30vh;
    }

    .content-a {
        grid-column: 1/3;
        grid-row: 1/2;
    }



    .content-b {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .content-c {
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

@media screen AND (max-width:425px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 40vh 15vh 15vh;
    }

    .content-c {
        grid-column: 1/2;
        grid-row: 3/4;
    }
}