* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



.content-header,
.content-vfooter {
    background-color: gray;
    height: 12vh;
    font-size: 2rem;
    padding-left: 10px;
}

.container {
    margin: 3vh 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 35vh 35vh;
    font-size: 2rem;
}

.content-a {
    background-color: orangered;
    padding-left: 10px;

}

.content-b {
    background-color: goldenrod;
    padding-left: 10px;
}

.content-c {
    background-color: yellow;
    grid-column: 2/3;
    grid-row: 1/3;
    padding-left: 10px;
}


@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 425px) {


    .container {
        height: 70vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .content-c {
        grid-column: 1/2;
        grid-row: 3/4;
    }

}